@mixin hidden-accessibly {
  margin: 0;
  padding: 0;

  position: absolute;
  width: 1em;
  height: 1em;

  text-indent: -9999px;

  appearance: none;
  visibility: hidden;
  overflow: hidden;
}

.button-emulated {
  margin: 0;
  padding: 0;
  display: inline-block;

  user-select: none;

  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-transform: none;

  position: relative;

  appearance: none;
  overflow: hidden;

  cursor: pointer;

  line-height: 0;

  // Обычная кнопка
  &--button {
    padding: 20px;
    border: 1px solid #000;
  }

  // Кнопка с иконкой
  &--button-burger {
    width: 34px;
    height: 26px;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      visibility: visible;

      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-image: url(/images/menu-burger-icon--lines.svg);
    }

  }

  // Фокус
  & {
    margin: 3px 0;

    &:focus-within {
      $focus-color: rgba(83, 202, 255, 0.4);
      outline: 0;
      box-shadow: 0 0 0 3px $focus-color;
    }

  }

}


.box {
  height: 40px;
  background-color:rgba(255, 0, 0, 0.3);
}

.button-emulated:checked ~ .box {
  background-color:rgba(0, 255, 0, 0.3);
}


$defaultAccent: #80CBC4;
$background: #0F111A;
$backgroundAlt: #0F111A;
$contrastBorder: #0F111A;
$comments: #464B5D;
$caret: #FFCC00;
$findHighlight: #FFCC00;
$foreground: #A6ACCD;
$focusBorder: #FFFFFF;
$guides: #3B3F51;
$lineNumbers: #3B3F5180;
$invisibles: #80869E50;
$lineHighlight: #000000;
$selection: #717CB450;
$shadow: #00000030;
$inputBackground: #1A1C25;
$inputForeground: #EEFFFF;
$inputBorder: #FFFFFF10;
$scrollbars: #8F93A220;
$scrollbarsHover: #8F93A210;
$statusbarForeground: #4B526D;
$sidebarBackground: #292D3E;
$sidebarForeground: #525975;
$listHoverForeground: #FFFFFF;
$listHoverBackground: #292D3E;
$tabActiveForeground: #FFFFFF;
$inactiveSelectionBackground: #00000030;
$findMatchBackground: #000000;
$findMatchHighlightBackground: #00000050;
$findMatchHighlightBorder: #ffffff30;
$white: #ffffff;
$black: #000000;
$red: #f07178;
$orange: #F78C6C;
$yellow: #FFCB6B;
$green: #C3E88D;
$cyan: #89DDFF;
$blue: #82AAFF;
$paleblue: #B2CCD6;
$purple: #C792EA;
$brown: #916b53;
$pink: #ff9cac;
$violet: #bb80b3;
