.grid-container {
  max-width: 1152px;
  padding-right: 22px;
  padding-left: 22px;
  margin: 0 auto;
}

.grid {
  padding-right: 10px;
  padding-left: 10px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -20px;
  margin-left: -20px;
}
.row > * {
  width: 100%;
  max-width: 100%;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
}
.row .row {
  margin-right: -10px;
  margin-left: -10px;
}

.col {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
}
.hide {
  position: absolute;
  display: none;
  opacity: 0;
}

.v-hidden {
  visibility: hidden !important;
}

.v-visible {
  visibility: visible !important;
}

.sr-only,
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  white-space: nowrap;
}
:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(0, 122, 255, 0.8);
          box-shadow: 0 0 0 3px rgba(0, 122, 255, 0.8);
  outline: 0;
}
:focus::-webkit-input-placeholder {
  opacity: 0;
}
:focus::-moz-placeholder {
  opacity: 0;
}
:focus:-ms-input-placeholder {
  opacity: 0;
}
:focus::-ms-input-placeholder {
  opacity: 0;
}
:focus::placeholder {
  opacity: 0;
}

::-moz-selection {
  background-color: rgba(1, 206, 75, 0.2);
  color: #000;
  text-shadow: none;
}

::selection {
  background-color: rgba(1, 206, 75, 0.2);
  color: #000;
  text-shadow: none;
}

::-o-selection {
  background-color: rgba(1, 206, 75, 0.2);
  color: #000;
  text-shadow: none;
}

::-ms-selection {
  background-color: rgba(1, 206, 75, 0.2);
  color: #000;
  text-shadow: none;
}

::-webkit-selection {
  background-color: rgba(1, 206, 75, 0.2);
  color: #000;
  text-shadow: none;
}
html,
body {
  background-color: #fff;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

html::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

html::-webkit-scrollbar-thumb {
  border-radius: 16px;
}

html {
  scrollbar-color: #bbb #f1f1f1;
}

html::-webkit-scrollbar-thumb {
  background: #bbb;
}

html::-webkit-scrollbar-track {
  background: #f1f1f1;
}

@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: italic;
  font-weight: 300;
  src: url(/assets/fonts/Roboto-LightItalic.woff2) format("woff2"), url(/assets/fonts/Roboto-LightItalic.woff) format("woff");
}
@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: url(/assets/fonts/Roboto-Medium.woff2) format("woff2"), url(/assets/fonts/Roboto-Medium.woff) format("woff");
}
@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: italic;
  font-weight: 500;
  src: url(/assets/fonts/Roboto-MediumItalic.woff2) format("woff2"), url(/assets/fonts/Roboto-MediumItalic.woff) format("woff");
}
@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 100;
  src: url(/assets/fonts/Roboto-Thin.woff2) format("woff2"), url(/assets/fonts/Roboto-Thin.woff) format("woff");
}
@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: italic;
  font-weight: 100;
  src: url(/assets/fonts/Roboto-ThinItalic.woff2) format("woff2"), url(/assets/fonts/Roboto-ThinItalic.woff) format("woff");
}
@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  src: url(/assets/fonts/Roboto-Regular.woff2) format("woff2"), url(/assets/fonts/Roboto-Regular.woff) format("woff");
}
@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: italic;
  font-weight: 900;
  src: url(/assets/fonts/Roboto-BlackItalic.woff2) format("woff2"), url(/assets/fonts/Roboto-BlackItalic.woff) format("woff");
}
@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  src: url(/assets/fonts/Roboto-Black.woff2) format("woff2"), url(/assets/fonts/Roboto-Black.woff) format("woff");
}
@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: url(/assets/fonts/Roboto-Light.woff2) format("woff2"), url(/assets/fonts/Roboto-Light.woff) format("woff");
}
@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  src: url(/assets/fonts/Roboto-Bold.woff2) format("woff2"), url(/assets/fonts/Roboto-Bold.woff) format("woff");
}
@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  src: url(/assets/fonts/Roboto-Italic.woff2) format("woff2"), url(/assets/fonts/Roboto-Italic.woff) format("woff");
}
@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: italic;
  font-weight: bold;
  src: url(/assets/fonts/Roboto-BoldItalic.woff2) format("woff2"), url(/assets/fonts/Roboto-BoldItalic.woff) format("woff");
}
:root {
  font-size: 14px;
}

body {
  color: #101010;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  line-height: 1.6em;
  font-smooth: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

.debug-colors {
  outline: 1px dashed rgba(0, 0, 0, 0.2);
  background-color: #e1e1e1;
}

.debug-colors-2 {
  outline: 1px dashed rgba(0, 0, 0, 0.2);
  background-color: #e1e1e1;
}
.debug-colors-2 > * {
  background-color: orchid;
}

.debug-colors-3 {
  outline: 1px dashed rgba(0, 0, 0, 0.2);
}
.debug-colors-3 > * {
  background-color: #e1e1e1;
}
.debug-colors-3 > * > * {
  background-color: orchid;
}

body.js-resize-animation-stopper *,
body.js-resize-animation-stopper *::after,
body.js-resize-animation-stopper *::before {
  -webkit-animation: none !important;
          animation: none !important;
  -webkit-transition: none !important;
  transition: none !important;
}

.js-focus-visible :focus:not(.focus-visible) {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: 0 !important;
}

.page-container {
  position: relative;
  width: 100%;
  max-width: 1152px;
  margin: 0 auto;
  padding: 0 12px;
}

.section-container {
  margin-top: 2rem;
}
.section-container > *:first-child {
  margin-top: 0 !important;
}

.section-catalog {
  background-color: #f1f1f1;
}
.section-catalog__header {
  padding: 0;
  padding-top: 20px;
  margin: 0;
  color: #101010;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
}

.categories {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  max-width: auto;
  margin-right: -4px;
  margin-left: -4px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.categories li {
  list-style: none;
}
.categories > * {
  padding-right: 4px;
  padding-left: 4px;
}
.categories__item {
  margin-top: 8px;
}
.categories__link {
  border: none;
  text-decoration: none;
  display: block;
  padding: 8px 12px;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  color: #101010;
  font-size: 14px;
  line-height: 1;
}
.categories__link:hover {
  border-color: #101010;
  background-color: #101010;
  border-radius: 2px;
  color: #fff;
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  max-width: auto;
  margin-right: -4px;
  margin-left: -4px;
}
.catalog > * {
  padding-right: 4px;
  padding-left: 4px;
}

.catalog-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 16px;
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
}
.catalog-card__header {
  padding: 1rem 0 0;
  margin: 0;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.2;
}
.catalog-card__header a {
  color: inherit;
  text-decoration: none;
}
.catalog-card__description {
  padding-top: 12px;
  color: #585858;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 17px;
}
.catalog-card__description a {
  color: inherit;
  text-decoration: none;
}
.catalog-card__prices {
  margin-top: auto;
}
.catalog-card__price-old {
  padding-top: 24px;
  color: #a2a2a2;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 17px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}
.catalog-card__price {
  padding-top: 4px;
  color: #dc1b32;
  font-size: 18px;
  letter-spacing: 0.02em;
  line-height: 21px;
}
.catalog-card__sale {
  position: absolute;
  top: 0;
  right: 0;
}
.catalog-card__picture {
  position: relative;
  width: auto;
  height: auto;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  line-height: 0;
  text-align: center;
}
.catalog-card__picture img {
  width: 100%;
  max-width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@supports (image-rendering) {
  .catalog-card__picture img {
    -ms-interpolation-mode: nearest-neighbor;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: -moz-crisp-edges;
        image-rendering: -o-pixelated;
        image-rendering: pixelated;
  }
}
.catalog-card__picture-inner {
  position: relative;
  display: block;
  width: 380px;
  max-width: 100%;
  margin: 0 auto;
}

.sale {
  display: inline-block;
  padding: 6px 12px;
  border: 1px solid #dc1b32;
  background-color: #dc1b32;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
}

@media (min-width: 0) {
  .col-xs-1 {
    width: calc(8.3333333333% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-xs-2 {
    width: calc(16.6666666667% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-xs-3 {
    width: calc(25% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-xs-4 {
    width: calc(33.3333333333% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-xs-5 {
    width: calc(41.6666666667% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-xs-6 {
    width: calc(50% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-xs-7 {
    width: calc(58.3333333333% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-xs-8 {
    width: calc(66.6666666667% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-xs-9 {
    width: calc(75% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-xs-10 {
    width: calc(83.3333333333% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-xs-11 {
    width: calc(91.6666666667% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-xs-12 {
    width: calc(100% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .hide-xs-up {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    white-space: nowrap;
  }
}

@media (min-width: 384px) {
  .col-sm-1 {
    width: calc(8.3333333333% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-sm-2 {
    width: calc(16.6666666667% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-sm-3 {
    width: calc(25% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-sm-4 {
    width: calc(33.3333333333% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-sm-5 {
    width: calc(41.6666666667% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-sm-6 {
    width: calc(50% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-sm-7 {
    width: calc(58.3333333333% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-sm-8 {
    width: calc(66.6666666667% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-sm-9 {
    width: calc(75% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-sm-10 {
    width: calc(83.3333333333% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-sm-11 {
    width: calc(91.6666666667% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-sm-12 {
    width: calc(100% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .hide-sm-up {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    white-space: nowrap;
  }
}

@media (min-width: 576px) {
  .col-md-1 {
    width: calc(8.3333333333% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-md-2 {
    width: calc(16.6666666667% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-md-3 {
    width: calc(25% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-md-4 {
    width: calc(33.3333333333% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-md-5 {
    width: calc(41.6666666667% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-md-6 {
    width: calc(50% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-md-7 {
    width: calc(58.3333333333% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-md-8 {
    width: calc(66.6666666667% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-md-9 {
    width: calc(75% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-md-10 {
    width: calc(83.3333333333% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-md-11 {
    width: calc(91.6666666667% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-md-12 {
    width: calc(100% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .hide-md-up {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    white-space: nowrap;
  }
}

@media (min-width: 768px) {
  .col-lg-1 {
    width: calc(8.3333333333% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-lg-2 {
    width: calc(16.6666666667% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-lg-3 {
    width: calc(25% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-lg-4 {
    width: calc(33.3333333333% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-lg-5 {
    width: calc(41.6666666667% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-lg-6 {
    width: calc(50% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-lg-7 {
    width: calc(58.3333333333% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-lg-8 {
    width: calc(66.6666666667% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-lg-9 {
    width: calc(75% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-lg-10 {
    width: calc(83.3333333333% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-lg-11 {
    width: calc(91.6666666667% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-lg-12 {
    width: calc(100% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .hide-lg-up {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    white-space: nowrap;
  }
}

@media (min-width: 960px) {
  .col-xl-1 {
    width: calc(8.3333333333% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-xl-2 {
    width: calc(16.6666666667% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-xl-3 {
    width: calc(25% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-xl-4 {
    width: calc(33.3333333333% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-xl-5 {
    width: calc(41.6666666667% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-xl-6 {
    width: calc(50% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-xl-7 {
    width: calc(58.3333333333% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-xl-8 {
    width: calc(66.6666666667% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-xl-9 {
    width: calc(75% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-xl-10 {
    width: calc(83.3333333333% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-xl-11 {
    width: calc(91.6666666667% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-xl-12 {
    width: calc(100% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .hide-xl-up {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    white-space: nowrap;
  }
}

@media (min-width: 1152px) {
  .col-xll-1 {
    width: calc(8.3333333333% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-xll-2 {
    width: calc(16.6666666667% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-xll-3 {
    width: calc(25% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-xll-4 {
    width: calc(33.3333333333% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-xll-5 {
    width: calc(41.6666666667% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-xll-6 {
    width: calc(50% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-xll-7 {
    width: calc(58.3333333333% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-xll-8 {
    width: calc(66.6666666667% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-xll-9 {
    width: calc(75% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-xll-10 {
    width: calc(83.3333333333% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-xll-11 {
    width: calc(91.6666666667% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .col-xll-12 {
    width: calc(100% - 20px);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .hide-xll-up {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    white-space: nowrap;
  }
}

@media (max-width: 384px) {
  .hide-xs {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    white-space: nowrap;
  }
  .hide-br-xs br {
    display: none;
  }
}

@media (max-width: 576px) {
  .hide-sm {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    white-space: nowrap;
  }
  .hide-br-sm br {
    display: none;
  }
}

@media (max-width: 768px) {
  .hide-md {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    white-space: nowrap;
  }
  .hide-br-md br {
    display: none;
  }
}

@media (max-width: 960px) {
  .hide-lg {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    white-space: nowrap;
  }
  .hide-br-lg br {
    display: none;
  }
}

@media (max-width: 1152px) {
  .hide-xl {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    white-space: nowrap;
  }
  .hide-br-xl br {
    display: none;
  }
}

@media (max-width: 320px) {
  html,
body {
    width: 320px;
    min-width: 320px;
  }

  html {
    overflow-x: scroll !important;
  }
}
