.outer {
  position: relative;
  overflow: hidden;
}

.outer:before {
  display: block;
  width: 100%;
  padding-top: calc(9 / 16 * 100%);
  content: "";
}

.outer > .inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.outer > .inner--center {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.outer img {
  width: 100%;
  height: auto;
}


.outer {
  margin-bottom: 1rem;
  background-color: var(--bg-color);
}
